<aside class="fh followers">

  <div class="rp agk aye followers-list-block block"></div>

  <div class="rp agk aye">
    <div class="rq">
      <h6 class="agd">Sponsored</h6>
      <div data-target-height="150"><img class="bqa" data-width="640" data-height="640" data-action="zoom" src="./client/media/instagram/instagram_2.jpg" style="max-width: 100%"></div>
      <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
      <button class="cg pq pz">Buy a ticket</button>
    </div>
  </div>

  <!-- <div class="rp bqu">
    <div class="rq">
    © 2015 Bootstrap
    <a href="#">About</a>
    </div>
    </div> -->
</aside>
