<li class="album" data-albumid={{id}}
  <div class="tu  ahx wall-item empty-item">
    <div class="tv">
      <p style="margin-top: 1rem;text-align: center;">This will be your photos list</p>
    </div>
  </div>
</li>
