{{#if this.albums}}
{{#each this.albums}}
<li class="album-item" 
    data-albumid="{{id}}" 
    style="background: url('{{#if photos}}{{#photos}}{{#if @last}}{{url}}{{/if}}{{/photos}}{{else}}/client/media/bg/no-image.png{{/if}}') center">
</li>
{{/each}}
{{else}}

{{> ../error/albums/empty}}

{{/if}}


