<li class="b tu ahx wall-item is-disabled">
	<!-- <span class="h bgi axr afv"></span> -->
	<i class="fa fa-bullhorn no-padding width-20" aria-hidden="true"></i>
	<div class="tv">
		<small class="axr aec">1 min</small>
		<div class="bqj">
			<a href="#"><strong>Dave Gamache</strong></a> went traveling
		</div>
	</div>
</li>

<li class="b tu ahx wall-item is-disabled">
	<!-- <span class="h boi axr afv yy"></span> -->
	<i class="fa fa-bullhorn no-padding width-20" aria-hidden="true"></i>

	<div class="tv">
		<small class="aec axr">34 min</small>
		<div class="bqj afw">
			<a href="#"><strong>Fat</strong></a> and <a href="#"><strong>1 other</strong></a> followed you
		</div>
		<ul class="bpt">
			<li class="bpu"><img class="wg" src="./client/media/profile/avatar-fat.jpg"></li>
			<li class="bpu"><img class="wg" src="./client/media/profile/avatar-dhg.png">
		</li></ul>
	</div>
    </li>

<li class="b tu ahx wall-item is-disabled">
	<!-- <span class="h boi axr afv yy"></span> -->
	<i class="fa fa-bullhorn no-padding width-20" aria-hidden="true"></i>

	<div class="tv">
		<small class="aec axr">30 min</small>
		<div class="bqj">
		You followed <a href="#"><strong>Jacob Thornton</strong></a> and <a href="#"><strong>1 other</strong></a>
		</div>

		<div class="afu">
			<div class="dq">
				<div class="fk">
					<div class="rp bqq">
						<div class="rv" style="background-image: url(./client/media/instagram/instagram_4.jpg);"></div>
						<div class="rq awx">
							<img class="bqr" src="./client/media/profile/avatar-fat.jpg">
							<h5 class="rr">Jacob Thornton</h5>
							<p class="agk">Big belly rude boy, million dollar hustler. Unemployed.</p>
							<button class="cg pq pz">
								<!-- <span class="h azp"></span>  -->
								<i class="fa fa-user-plus width-20 no-padding" aria-hidden="true"></i>
								Follow
							</button>
						</div>
					</div>
				</div>
				<div class="fk">
					<div class="rp bqq">
						<div class="rv" style="background-image: url(./client/media/instagram/instagram_1.jpg);"></div>
						<div class="rq awx">
							<img class="bqr" src="./client/media/profile/avatar-mdo.png">
							<h5 class="rr">Mark Otto</h5>
							<p class="agk">GitHub and Bootstrap. Formerly at Twitter. Huge nerd.</p>
							<button class="cg pq pz">
								<!-- <span class="h azp"></span>  -->
								<i class="fa fa-user-plus width-20 no-padding" aria-hidden="true"></i>
								Follow
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>