<div class="alert alert-danger alert-dismissible fade show global-notice" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	{{!-- <a class="tl" href="profile/index.html">Notification!</a> Example notice. --}}
	<p class="tl">{{title}}</p>{{text}}
</div>