.no-padding {
  padding: 0 !important;
}

.width-20{
  width: 20px;
  max-width: 20px;
}

.is-hidden{
  display: none;
}

.btn > i{
  pointer-events: none;
}

.is-disabled{
  width: 100%;
  align-items: flex-start;
  position: relative;
  min-height: 115px;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 115px;
    background: rgba(0,0,0,0.5);
  }

  &:before{
    content: 'Demo' !important;
    position: absolute;
    color: white;
    font-size: 2rem;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    text-align: center;
  }
}

.is-loading{
  opacity: 0;
}
