<div class="cd fade" id="newAlbum" tabindex="-1" role="dialog" aria-labelledby="bqy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="d">
        <h4 class="modal-title">New album</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">
        <div class="" style="padding: 1rem">
          <form class="form-inline col-11 offset-1">
            <div class="form-group">
              <label class="sr-only">Album name</label>
              <p class="form-control-static">Album name:</p>
            </div>
            <div class="form-group mx-sm-3">
              <label for="albumName" class="sr-only">Album name</label>
              <input type="text" class="form-control" id="albumName">
            </div>
            <button type="submit" class="btn btn-primary js-create-album">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
